/* HEADER */



a {
    text-decoration: none;
    text-transform: uppercase;
    color:rgb(255, 169, 9);
    margin-left: 10px;
}

h1 {
    text-align: center;
    color: rgb(255, 169, 9);
}


h2{
    text-align: center;
    color: rgb(255, 169, 9);
}

header {
    background-color: black;
}

.navbar-toggler-icon{
    background-color: rgb(255, 169, 9);
    
}
.container-fluid {
    background-color: black;
}
.navbar-brand {
    font-size: 25px;
    color: rgb(255, 169, 9);
    background-color: black;
    padding: 20px;
    margin-top: 3px color rgb(255, 169, 9) solid;

}
.nav-link{
    font-size: 25px;
    color: rgb(255, 169, 9);
    background-color: black;
    padding: 20px;
    margin-top: 3px color rgb(255, 169, 9) solid;
}

.menu{
    background-color: black;
    list-style: none;
    display: inline-block;
    font-size: 25px;
    
}

li {
    list-style-type: none;
    text-align: center;
    font-size: 25px;
    color: rgb(255, 169, 9);
    background-color: black;
    padding: 20px;
    margin-top: 3px color rgb(255, 169, 9) solid;
}

/* MAIN */

main {
    background-color:black
    
}



.parrafoNosotros {
    text-align: center;
    font-size: 25px;
    color: rgb(255, 169, 9);
    padding: 100px;
    margin: 50px;
  
}

/* IMAGENES */


.fotoUno{

    grid-area: fotoUno;
    width: 35%;
    border-radius: 5px;
}

.fotoDos{

    grid-area: fotoDos;
    width: 35%;
    border-radius: 5px;

}

.fotoTres{
   
    grid-area: fotoTres;
    width: 35%;
    border-radius: 5px;
}

.fotoCuatro{
   
    grid-area: fotoCuatro;
    width: 30%;
    border-radius: 5px;
}

.fotoCinco{
   
    grid-area: fotoCinco;
    width: 30%;
    border-radius: 5px;
}

.fotoSeis{
   
    grid-area: fotoSeis;
    width: 30%;
    border-radius: 5px;
}

.fotoSiete{
    
    grid-area: fotoSiete;
    width: 30%;
    border-radius: 5px;
}

.fotoOcho{
    
    grid-area: fotoOcho;
    width: 30%;
    border-radius: 5px;
}

.gridPadre{
    background-color: black;
    display: grid;
    grid-template-areas: 
      "fotoUno fotoDos fotoTres fotoCuatro" 
      "fotoCinco fotoSeis fotoSiete fotoOcho ";
    width: 100%;
    height: 60%;

}
/* VISTA TABLET */
@media(min-width:700px) and (max-width:1100px) {
        .gridPadre {
            grid-template-areas:
        "fotoUno fotoDos"
        "fotoTres fotoCuatro"
        "fotoCinco fotoSeis"
        "fotoSiete fotoOcho";
    } 
} 
/* VISTA MOBIL */
@media(max-width:699px){
    .gridPadre{
        grid-template-areas: 
        "fotoUno"
        "fotoDos"
        "fotoTres"
        "fotoCuatro"
        "fotoCinco"
        "fotoSeis"
        "fotoSiete"
        "fotoOcho";
      
    }
}

/*animacion*/

.fotoUno:hover{
    width: 100%;
}
.fotoDos:hover{
    width: 100%;
}
.fotoTres:hover{
    width: 100%;
}
.fotoCuatro:hover{
    width: 100%;
}
.fotoCinco:hover{
    width: 100%;
}
.fotoSeis:hover{
    width: 100%;
}
.fotoSiete:hover{
    width: 100%;
}
.fotoOcho:hover{
    width: 100%;
}

/* FOOTER */

footer {
    background-color: black;
    font-size: 20px color rgb(255,169, 9) ;
}

h3{
    color: rgb(255, 169, 9);
    text-align: center;
    padding: 20px;
}

.parrafo{
    color: rgb(255, 169, 9);
    text-align: center;
}

form{
    background-color: rgb(255, 169, 9);
    flex-direction: column;
    margin: auto;
    padding: 20px 40px;
    width: 450px;
    margin-top: 45px;
    text-align: center;

}

.tituloAmarillo{
    color: yellow;
}

textarea{
    background-color: white;
    min-width: 500px;
    max-height: 500px;
     min-width: 400px;
     max-width: 400px;
}



