/* nosotros */

h1 {
    color: $color-fuentes-secundario;
    padding: 4rem;
    font-size: 5.5rem;
    font-weight: 500;

}
p {
    color:$color-fuentes-secundario;
    margin-bottom: 30px;
    font-size: 20px;
}

.parRafo {
    text-align: center;
}