
@mixin li {
    text-decoration: none;
    color: $color-fuentes;
    font-size: 3rem;
  }
  ul {
    justify-content: center;
    align-items: flex-end;
    list-style-type: none;
  
        
  
        li{
            @include li;
  
            transition: all 0.3s ease;
            &:hover {
                color:$color-fuentes-secundario;
            }
        }
    }
  
  